.projects {
    column-count: 3;
    column-width: 22%;
    column-gap: 5px;
}


@media screen and (max-width: 768px) {
   .projects {
    column-count: 2;
   }
}

@media screen and (max-width: 425px) {
    .projects {
        column-count: 1;
    }
}