@import "../../styles/variables.scss";

#portfolio .container {
    height: fit-content;
}
.portfolio-heading {
    grid-column: 2 / 3;
}
.heading {
    max-width: 600px;
    width: 100%;
    line-height: 42px;
    font-family: $poppins;
    font-size: 40px;
    font-weight: 200;
    color: $darkGreen;
}

.projects{
    margin: 0 auto;
    margin-top: 45px;
    max-width: 1280px!important;
    width: 100%;
    height: auto;
}

.projects * {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 540px) {
    #portfolio .container .content {
        padding-inline: 20px;
        display: block;
    }

    .projects {
        padding-inline: 20px;
    }
}